@use '@angular/material' as mat;
@include mat.core();
$ProvaCNC-primary: mat.define-palette(mat.$indigo-palette);
$ProvaCNC-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$ProvaCNC-warn: mat.define-palette(mat.$red-palette);
$ProvaCNC-theme: mat.define-light-theme((
  color: (
    primary: $ProvaCNC-primary,
    accent: $ProvaCNC-accent,
    warn: $ProvaCNC-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));
@include mat.all-component-themes($ProvaCNC-theme);

.mat-mdc-dialog-container, .mdc-dialog__surface {
    background-color: transparent !important;
}


@import "./theme/bosch-color-theme.scss";
@import "./theme/fonts.scss";
*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $Bosch-Gray-25;
    * {
        color: $Bosch-White;
        font-family: 'bosch-regular';
    }
}

input {
    padding: .5rem 1rem;
    color: black;
    border-radius: 5px;
    outline: none;
    font-family: 'bosch-bold';

    &:focus {
        background-color: $Bosch-Blue-95;
    }
}

.btn-area{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.dialog {
    position: fixed;
}



.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $Bosch-Gray-90;
    padding: 1rem;
    border-radius: 15px;

    * {
        color:  $Bosch-Gray-10;
    }
}

html, body { height: 100%; width: 100%; }
