<header [className]="variant">
  @switch(variant){
    @case('default') {
      <span>
        <img src="../../../assets/Bosch_symbol_logo_black_red.svg" alt="bosch-logo" width="200">
      </span>
      <span>
        <a href="login">LOGIN</a>
      </span>
    }

    @case('user') {
      <span (click)="navigate('home')">
        <img src="../../../assets/Bosch_symbol_logo_black_red.svg" alt="bosch-logo" width="200">
      </span>
      <span class="user-menu-button" (click)="toggleUserMenu()">
        @if(username) {
          <h3>Hi, {{username}}</h3>
          <mat-icon>arrow_drop_down</mat-icon>

          <div [classList]="'user-menu-container ' + getMenuClass()">
            <app-button label="Logout" variant="tertiary" (click)="logoff()"/>
          </div>
        }
      </span>

    }

    @case('test') {
      <span>
        <h3>{{testName}}</h3>
      </span>
      <span>
        <h3>Código: </h3>
        <h3>{{testCode}}</h3>
      </span>
      <span>
        <h3>{{testTime}}</h3>
      </span>
    }


  }
</header>
