@import "../../../../theme/bosch-color-theme.scss" ;

$info-background-color: $Bosch-Blue-90;
$info-content-color: $Bosch-Blue-30;
$warning-background-color: $Bosch-Yellow-95;
$warning-content-color: $Bosch-Yellow-40;
$danger-background-color: $Bosch-Red-90;
$danger-content-color: $Bosch-Red-30;
$success-background-color: $Bosch-Green-90;
$success-content-color: $Bosch-Green-30;
