@import "../../../../../theme/bosch-color-theme.scss";

main{
  text-align: center;

  .top{
    margin-top: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem ;
    span {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
    }
  }
  .description-container {
    display: flex;
    flex-direction: column;
    gap: 1rem ;
  }

  .code{
    padding-top: 1rem ;
    margin: 3rem;
    border-radius: 2rem;
    border: 2px solid white;

    .code-line {
      padding: .5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(255, 255, 255, 0.322);
      .answer-content{
        display: flex;

      }
      .overview-content {
        display: flex;

        p{
          width: 3rem;
          height: 100%;
        }
      }

      .cell {
        margin-left: .5rem;
        .answer {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0;
          height: 0;
          z-index: 2;
          overflow: hidden;
          border-radius: 5px;
          background-color: $Bosch-Green-50;

          &:hover {
            width: 100%;
            height: 100%;

          }
        }

        input:hover ~.answer{
          width: 100%;
          height: 100%;
        }

      }
      &:hover{
        background-color: rgba(0, 0, 0, 0.301);
        height: 4.5rem;
      }

      p{
        text-align: end;
        width: 3rem;
        margin-right: 1rem;
      }
    }


  }

  input {
    z-index: 1;
    text-align: center;
    width: 5rem;
  }

}


.incorrect {
  // background-color: rgb(228, 121, 118) !important;
  background-color: rgb(110, 50, 50) !important;
}

.correct {
  // background-color: rgb(127, 228, 118) !important;
  background-color: rgb(57, 110, 50) !important;
}

.missplaced {
  background-color: rgb(110, 99, 50) !important;
}

.statistic-correct {
  color: #aaffb1;
}
.statistic-incorrect {
  color: #ffaaaa;
}
.statistic-missplaced {
  color: #f2ffaa;
}
